---
import "../style.css";
import { Image } from "astro:assets"

import arknightsPreview from "../projects/arknights-preview.webp";
import redMagicPreview from "../projects/Redmagic-preview.webp";
import weatherPreview from "../projects/Weather_App-Preview.webp";
import dashboardPreview from "../projects/Dashboard-preview.webp";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Welcome to my portfolio!">
		<meta name="generator" content={Astro.generator} />
		<title>Fiora's Portfolio</title>
	</head>
	<body>
		<header>
			<div class="name">
				<h1>Fiora - Portfolio</h1>
			</div>
		</header>
	
		<div class="profile-description">
			<p>
				Hi, I'm a Frontend developer who focuses mostly on UI/UX ! 
			</p>
		</div>
	
	
		<h2 class="my-work">My work</h2>
		<div class="grid">
	
			<div class="card">
				<a href="https://arknights-endfield-website-clone.netlify.app/" target="_blank" rel="noopener noreferrer">
					<Image src={arknightsPreview} alt="Arknights website preview" 
					loading="eager"/>
					<h3 class="project-name">Arknights: Endfield Website Clone</h3>
				</a>
				<p class="description">Responsive, using animation for characters and Grid to overlap content smoothly</p>
				<div class="project-link"><a target="_blank" rel="noopener" href="https://github.com/meifi-moogle/arknights_endfield-website-clone">Github code</a></div>
			</div>
	
			<div class="card">
				<a href="https://meifi-moogle.github.io/Redmagic_9-website-clone/" target="_blank" rel="noopener noreferrer">
					<Image src={redMagicPreview} alt="Redmagic website preview" 
					loading="eager"/>
					<h3 class="project-name">Redmagic Pro 9 Website Clone</h3>
				</a>
				<p class="description">Responsive clone of the web page for the Redmagic 9 Pro phone</p>
				<div class="project-link"><a target="_blank" rel="noopener" href="https://github.com/meifi-moogle/Redmagic_9-website-clone">Github code</a></div>
			</div>
	
			<div class="card">
				<a href="https://meifi-weather-app.netlify.app/" target="_blank" rel="noopener noreferrer">
					<Image src={weatherPreview} alt="Weather App preview" />
					<h3 class="project-name">Weather App</h3>
				</a>
				<p class="description">Responsive web application, built using API and Tailwind CSS</p>
				<div class="project-link"><a target="_blank" rel="noopener noreferrer" href="https://github.com/meifi-moogle/Weather-App-Tailwind">Github code</a></div>
			</div>
	
			<div class="card">
				<a href="https://meifi-moogle.github.io/dashboard-interface/" target="_blank" rel="noopener noreferrer">
					<Image src={dashboardPreview} alt="Dashboard page preview" />
					<h3 class="project-name">Dashboard Interface</h3>
				</a>
				<p class="description">Interface made for desktop, using a design from The Odin Project</p>
				<div class="project-link"><a target="_blank" rel="noopener noreferrer" href="https://github.com/meifi-moogle/dashboard-interface">Github code</a></div>
			</div>
	
		</div>
	</body>
</html>
